body {
    text-align: center;
    font-family: 'Verdana';
    background-image: url('https://images.moneycontrol.com/static-mcnews/2023/03/amazon-shut-down-featured--580x435.png?impolicy=website&width=770&height=431');
    background-size: cover;
}